asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.4
Django==3.2.6
django-redis-cache==3.0.0
django-rest-framework==0.1.0
djangorestframework==3.12.4
idna==3.2
pycryptodome==3.10.1
python-decouple==3.4
python-http-client==3.3.2
pytz==2021.1
rave-python==1.2.13
redis==3.5.3
requests==2.26.0
sendgrid==6.8.1
sqlparse==0.4.1
starkbank-ecdsa==1.1.1
urllib3==1.26.6
